*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  flex-flow: row wrap;
  font-family: Montserrat;
  user-select: none;
}

tic-tac-toe{
  width: 95vmin;
  height: 95vmin;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.game-information{
  text-align: center;
  font-size: .5em;
}

.title{
  font-size: 2em;
}

ttc-board{
  background-color: black;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(attr(columns number), 1fr);
  grid-template-rows: repeat(attr(rows number), 1fr);
  gap: .08em;
  border: 1.5em solid white;
}

.post-game-option{
  opacity: 0.6;
  transition: 0.5s all;
}
.post-game-option:hover{
  opacity: 1;
  transform: scale(1.2);
}

.post-game-menu{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  animation: winner-announcement 1s forwards;
}

@keyframes winner-announcement{
  from{backdrop-filter: blur(0px);opacity: 0;}
  to{backdrop-filter:blur(0.2em);opacity: 1}
}



ttc-tile{
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
  font-weight: 300;
  transition: 1s all;
  color: white;
  text-align: center;
  position: relative;
}

ttc-tile::after{
  content: attr(index);
  bottom: 0;
  right: 0;
  font-size: 5vmin;
  position: absolute;
  color: white;
  opacity: 1;
}

ttc-tile[state="solid"]{
  font-size: 8vmin;
}

ttc-tile[type="cross"]::before{
  content: "╳";
}

ttc-tile[type="circle"]::before{
  content: "◯"
}


